<h1>Hello, Rails!</h1>

<a href="/users/">Show Profile</a>

<p class="notice" id=""><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= link_to "Sign out", destroy_member_session_path, :method => :delete %>
<a href="/users/new">Sign Up</a>
<br>